src
*~
doc/html
doc/latex
*Makefile*
*.orig
CMake/common
.ciscript
ci.*
jambs*
#*
Debug*
Release*
RelWithDebInfo*
CMakeLists.txt.user
Lexis
Servus
ZeroBuf
ZeroEQ
vishnulex
manco
vishnucommon
vmmlib
build*
