src
*~
doc/html
doc/latex
*Makefile*
*.orig
CMake/common
.ciscript
ci.*
jambs*
#*
Debug*
Release*
RelWithDebInfo*
CMakeLists.txt.user
Servus
ZeroBuf
ZeroEQ
VishnuLex
VishnuCommon
ManCo
vmmlib
build*
